@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e600";
}
.icon-plus:before {
  content: "\e601";
}
.icon-cog:before {
  content: "\e602";
}
.icon-arrow-left:before {
  content: "\e603";
}
.icon-arrow-left2:before {
  content: "\e604";
}
.icon-fire:before {
  content: "\e605";
}
.icon-settings:before {
  content: "\e606";
}
.icon-equalizer:before {
  content: "\e607";
}
.icon-spinner:before {
  content: "\e608";
}
.icon-exit:before {
  content: "\e609";
}
.icon-enter:before {
  content: "\e60a";
}
