.computer {
  #files {
    #files-list-container {
      #navbar {
        ul {
          margin-left: 20px;
          margin-right: 20px;
        }

        #file-create {
          cursor: pointer;
        }
      }

      #files-list {
        width: 100%;

        padding-top: 15px;
        padding-left: 15px;

        li {
          border-radius: 1px;
          border: 1px solid black;

          margin-right: 15px;
          margin-bottom: 15px;

          .thumbnail-wrapper {
            .thumbnail {
              position: absolute; 
            }

            .overlay {
              width: 100%;
              height: 100%;
              position: relative;

              .file-name {
                top: 10px;
                left: 10px;
                padding: 2px;
                border-radius: 8px;
              }

              .file-name, .delete {
                position: absolute;
                background-color: white;
              }

              .delete {
                transition: .3s opacity;
                opacity: 0;
                cursor: pointer;

                right: 10px;
                bottom: 10px;
              }

              &:hover .delete {
                opacity: 1;
              }
            }
          }
        }

        // phone
        @media (max-width: 470px) { 
          & {
            padding-top: 10px;
            padding-left: 10px;

            li {
              margin-right: 10px;
              margin-bottom: 10px;
              width: calc(50% - 10px);          

              &:nth-child(1) {
                width: calc(100% - 10px);

                .thumbnail-wrapper {
                  height: 200px;
                }
              }

              .thumbnail-wrapper {
                height: 140px;
              }
            }
          }
        }

        // tablet
        @media (max-width: 767px) and (min-width: 471px) { 
          li {
            width: calc(33.33% - 15px);          

            &:nth-child(1), &:nth-child(2) {
              width: calc(50% - 15px);

              .thumbnail-wrapper {
                height: 200px;
              }
            }

            .thumbnail-wrapper {
              height: 140px;
            }
          }
        }

        // big
        @media (min-width: 768px) {
          li {
            width: calc(25% - 15px);          

            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
              width: calc(33.33% - 15px);

              .thumbnail-wrapper {
                height: 200px;
              }
            }

            .thumbnail-wrapper {
              height: 140px;
            }
          }
        }

        // really big
        @media (min-width: 1100px) and (min-width: 769px) {
          li {
            width: calc(20% - 15px);          

            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
              width: calc(25% - 15px);

              .thumbnail-wrapper {
                height: 250px;
              }
            }

            .thumbnail-wrapper {
              height: 180px;
            }
          }
        }
      }
    }
  }

  #draw {
    #tools {
      li[data-action="undo"], li[data-action="redo"] {
        display: none !important;
      }
    }
  }
}

// mobile
.tablet, .phone {
  #draw {
    #tools {
      li[data-tool="zoom"] {
        display: none;
      }
      li[data-tool="pan"] {
        padding: 30px !important;
      }
    }
  }
}

.phone {
}

.tablet {
}