$computerThumbnailWidth: 300px - 15px;
$computerThumbnailHeight: 10px;

.computer {
  #files {

    #files-list-container {
      #files-list {
        li {
          &>div {


            .thumbnail-info {
              .overlay {

                &:hover .bar {
                  @include transform("translateY(0px)");
                }

                .bar {
                  @include transform("translateY(40px)");
                  transition: .1s all;

                  position: absolute;
                  bottom: 0;
                  width: 100%;

                  color: #ccc;
                  background-color: rgba(100, 100, 100, .7);

                  height: 40px;
                  color: white;
                  overflow: hidden;

                  .text {
                    display: none;
                  }

                  .file-action {
                    height: 100%;
                    padding: 0 15px;

                  }

                  .share {
                    float: left;
                  }

                  .delete {
                    float: right;
                  }
                }
              }
            }
          }
        }
      }
    }

    #draw {
      #tools {
        width: 90px;

        ul {
          li {
            height: 60px;
            line-height: 60px;

            &#pan-tool, &#zoom-tool {
              width: 50%;
              float: left;
            }

            &#pan-tool {
              border-right: 1px solid $veryLightGray;
            }

            &#color-tool {
              padding: 5px;

              .swatch {
                height: 50px;
              }
            }
          }
        }
      }

      #menu {
        ul {
          height: 40px;

          li {
            line-height: 40px;
            padding: 0 10px;
          }
        }
      }

      #title {
        line-height: 40px;
      }

      .overlay {
        #colorPicker {
          bottom: 0;
          left: 0;

          opacity: 0;
          @include transition(.4s, all);
          @include transform("translate(95px, -10px)");

          &.visible {
            opacity: 1;
          }

          ul {
            $swatchSize: 30px;
            $swatchSpacing: 5px;

            width: ($swatchSize + $swatchSpacing) * 3 ;
            margin-right: -1 * $swatchSpacing;
            margin-bottom: -1 * $swatchSpacing;

            li {
              float: left;

              &.swatch {
                border: 1px solid black;
                width: $swatchSize;
                height: $swatchSize;
                margin: auto;

                margin-right: $swatchSpacing;
                margin-bottom: $swatchSpacing;
              }
            }
          }
        }
      }
    }
  }
}

// mobile
.tablet, .phone {
  #files {

    #files-list-container {
      #files-list {
        li {
          &>div {
            .thumbnail-info {
              background-color: white;

              .thumbnail {
                z-index: 2;

                &.animating {
                  transition: .3s all;
                }
              }

              .overlay {
                z-index: 1;

                .bar {
                  height: 100%;

                  .file-action {
                    float: right;
                    @include flex-direction(column);
                    height: 50%;
                    width: 30%;
                    border-left: 1px solid #ccc;

                    .text {
                      display: none;
                    }

                    .icon {
                      color: #eaeaea;
                      font-size: 20px;
                    }

                    &.share {
                      background-color: #cf0000;
                      border-bottom: 2px solid #ccc;
                    }

                    &.delete {
                      clear: right;
                      background-color: #cf0000;

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #draw {
    #tools {
      li#zoom-tool {
        display: none;
      }
    }
  }
}

.tablet {
  #files {
    #draw {
      #title {
        line-height: 50px;
      }

      #tools {
        width: 90px;

        ul {
          li {
            padding: 15px;

            &#pan-tool, &#pencil-tool, &#eraser-tool {
              padding: 20px 30px;
            }
          }
        }
      }

      #menu, #options {
        ul {
          height: 50px;

          li {
            line-height: 50px;
            padding: 0 15px;
          }
        }
      }
    }

    .overlay {
      .modal{
        left: 50%;

        opacity: 0;
        @include transition(.3s, opacity);

        &.visible {
          opacity: 1;
        }
      }

      #colorPicker {
        $swatchSize: 50px;
        $swatchSpacing: 20px;

        $offset: ($swatchSpacing + 1.5 * ($swatchSize + $swatchSpacing));
        left: calc(50% - 125px);
        top: calc(50% - 125px);

        // 3 columns, 80px horiz padding, each swatch is 70

        background-color: rgba(255, 255, 255, 1);

        @include border-radius($swatchSize / 2);
        border: 1px solid $veryLightGray;
        //box-shadow: 0px 1px 2px $veryLightGray;

        padding: $swatchSpacing * 2;
        padding-bottom: $swatchSpacing;

        ul {

          width: ($swatchSize + $swatchSpacing) * 3 ;
          margin-right: -1 * $swatchSpacing;

          //left: -1.5 * ($swatchSize + $swatchSpacing)

          li {
            float: left;

            &.swatch {
              border: 1px solid black;
              width: $swatchSize;
              height: $swatchSize;
              margin: auto;

              @include border-radius($swatchSize / 2);

              margin-right: $swatchSpacing;
              margin-bottom: $swatchSpacing;
            }
          }
        }
      }
    }
  }
}

.phone {
  #files {
    #draw {
      #title {
        line-height: 40px;
      }

      #menu, #options {
        ul {
          height: 40px;

          li {
            line-height: 40px;
            padding: 0 10px;
          }
        }
      }

      #menu, #tools, #options {
        //font-size: 15px;
      }

      #tools {
        //width: 70px;
        width: auto;

        ul {
          @media (orientation: portrait) {
            width: 60px;
          }

          @media (orientation: landscape) {
            height: 60px;
            width: auto;
          }

          li {
            float: left;

            text-align: center;
            width: 60px;
            height: 60px;
            line-height: 60px;
            //padding: 20px 5px;

            &#undo-tool {
              border-right: none;
            }

            &#undo-tool, &#redo-tool {
              //padding: 8px 5px;
              width: 60px;
            }

            &#pan-tool, &#pencil-tool, &#eraser-tool {
              //padding: 20px 20px;
              //padding: 5px;
            }

            &#color-tool {
              padding: 5px;
              .swatch {
                height: 50px;
                width: 49px;
                //padding-top: 0px;
              }
            }
          }
        }
      }



      .overlay {
        .modal{
          left: 50%;

          opacity: 0;
          @include transition(.3s, opacity);

          &.visible {
            opacity: 1;
          }
        }

        #colorPicker {
          $swatchSize: 50px;
          $swatchSpacing: 10px;

          $offset: ($swatchSpacing + 1.5 * ($swatchSize + $swatchSpacing));

          // using 101 just to make it overlap the tool's border
          left: calc(50% - 101px);
          top: calc(50% - 101px);

          // 3 columns, 80px horiz padding, each swatch is 70

          background-color: rgba(255, 255, 255, 1);

          border-radius: $swatchSize / 2;
          border: 1px solid $veryLightGray;
          //box-shadow: 0px 1px 2px $veryLightGray;

          padding: $swatchSpacing * 2;
          padding-bottom: $swatchSpacing;

          ul {

            width: ($swatchSize + $swatchSpacing) * 3 ;
            margin-right: -1 * $swatchSpacing;

            //left: -1.5 * ($swatchSize + $swatchSpacing)

            li {
              float: left;

              &.swatch {
                border: 1px solid black;
                width: $swatchSize;
                height: $swatchSize;
                margin: auto;

                border-radius: $swatchSize / 2;

                margin-right: $swatchSpacing;
                margin-bottom: $swatchSpacing;
              }
            }
          }
        }
      }
    }
  }
}