/*
  brighter pink: c623c4
  darker: 7d087c
  darker even: 520551
*/
@import "bluePurple.scss";
//@import "purpleOrange.scss";

$veryLightGray: #aaa;
$lightGray: #666;
$mediumGray: #444;
$darkGray: #333;
$veryDarkGray: #111;

body {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
}

#files {
  #thumb {
    border: 1px solid black;
  }

  #files-list {
    li {
      padding: 10px 5px;
    }
  }

  #draw {
    #menu, #tools {
      border: 1px solid black;
      background-color: white;
    }

    ul {
      li {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid black;
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}



.tablet {
  #draw {
    #tools {
      display: none;
    }
  }
}