/*
  brighter pink: c623c4
  darker: 7d087c
  darker even: 520551
*/
@import "bluePurple.scss";

$veryLightGray: #aaa;
$lightGray: #666;
$mediumGray: #444;
$darkGray: #333;
$veryDarkGray: #111;

body, input {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
}

#files {
  #files-list-container {
    #navbar {
      height: 40px;
      border-bottom: 1px solid $primary3;
      background-color: $primary1;

      ul {
        color: white;

        li {
          display: inline;
          padding: 0 10px 0 10px;
          float: left;
          line-height: 40px;

          &#mode.offline {
            color: $complementary1;
          }
        }
      }

      #file-create {
        display: none;
      }

      .pull-left {
        float: left;
      }

      .pull-right {
        float: right;
      }
    }
  
    #files-list {
      top: 40px;
      width: 100%;

      background-color: #f5f5f5;
      padding-top: 15px;
      padding-left: 15px;

      li {
        float: left;

        background-color: white;

        border-radius: 2px;
        border: 1px solid $veryLightGray;
        box-shadow: 0px 1px 2px $veryLightGray;

        margin-right: 15px;
        margin-bottom: 15px;

        &.create {
          .thumbnail-wrapper {
            background-color: #ececec;
            position: relative;

            .thumbnail {
              position: absolute;
              width: 100%;
              height: 100%;
              text-align: center;

              font-size: 160px;
              line-height: 200px;

              color: #dcdcdc;
              text-shadow: 1px 1px $veryLightGray;
            }
          }
        }

        .thumbnail-wrapper {
          .thumbnail {
            position: absolute; 
          }

          .overlay {
            width: 100%;
            height: 100%;
            position: relative;

            .file-name, .delete {
              position: absolute;
              background-color: white;
            }

            .file-name {
              top: 10px;
              left: 10px;
              padding: 2px;
              border-radius: 8px;
            }

            .delete {
              padding: 10px;
              right: 0px;
              bottom: 0px;

              color: $veryLightGray;
            }
          }
        }
      }

      // phone
      @media (max-width: 470px) { 
        & {
          padding-top: 10px;
          padding-left: 10px;

          li {
            margin-right: 10px;
            margin-bottom: 10px;
            width: calc(50% - 10px); 

            &:nth-child(1) {
              width: calc(100% - 10px);

              .thumbnail-wrapper {
                height: 200px;
              }
            }

            .thumbnail-wrapper {
              height: 140px;
            }
          }
        }
      }

      // tablet
      @media (max-width: 767px) and (min-width: 471px) { 
        li {
          width: calc(33.33% - 15px);   

          &:nth-child(1), &:nth-child(2) {
            width: calc(50% - 15px);

            .thumbnail-wrapper {
              height: 200px;
            }
          }

          .thumbnail-wrapper {
            height: 140px;
          }
        }
      }

      // big
      @media (min-width: 768px) {
        li {
          width: calc(25% - 15px);          

          &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            width: calc(33.33% - 15px);

            .thumbnail-wrapper {
              height: 200px;
            }
          }

          .thumbnail-wrapper {
            height: 140px;
          }
        }
      }

      // really big
      @media (min-width: 1100px) and (min-width: 769px) {
        li {
          width: calc(20% - 15px);  

          &.create {
            .thumbnail-wrapper {
              .thumbnail {
                font-size: 200px;
                line-height: 250px;
              }
            }
          }         

          &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
            width: calc(25% - 15px);

            .thumbnail-wrapper {
              height: 250px;
            }
          }

          .thumbnail-wrapper {
            height: 180px;
          }
        }
      }
    }
  }

  #draw {
    .overlay {
      .modal {
        ul {
          overflow: hidden;
        }
      }
    }

    #menu, #options {
      ul {
        li {
          line-height: 40px;
        }
      }
    }

    #menu, #tools, #options {
      z-index: 1;
      ul {
        background-color: white;
        overflow: hidden;

        li {
          text-align: center;
          cursor: pointer;
          overflow: hidden;
        }
      }
    }

    #title {
      width: 100%;
      text-align: center;
      
      #fileName {
        text-align: center;
        border: 0;
        background-color: white;
        padding: 5px 15px;
        border-radius: 10px;

        max-width: 250px;
      }
    }

    $menuBorder: $veryLightGray;
    
    #menu {
      ul {
        border-bottom: 1px solid $menuBorder;

        li {
          float: left;
          border-right: 1px solid $menuBorder;          
        }
      }
    }

    #options {
      ul {
        border-bottom: 1px solid $menuBorder;
        height: 40px;

        li {
          float: right;
          border-left: 1px solid $menuBorder;
          padding: 0 10px;
        }
      }
    }

    #tools {
      ul {
        border-right: 1px solid $menuBorder;

        li {
          border-top: 1px solid $menuBorder;

          &#undo-tool, &#redo-tool {
            width: 50%;
            float: left;
          }

          &#undo-tool {
            border-right: 1px solid $menuBorder;
          }

          &.active-point, &.active-gesture, &.active-scroll {
            background-color: #eee;
            color: $primary1;
            text-shadow: 1px 1px $mediumGray;
          }

          &.disabled {
            background-color: #ccc;
            color: #bbb;
          }
        }
      }

      .swatch {
        border: 1px solid black;
        width: 100%;
        height: 40px;
      }
    }
  }
}


@import "computer.scss";
@import "mobile.scss";
@import "tablet.scss";
@import "phone.scss";