/*
  brighter pink: c623c4
  darker: 7d087c
  darker even: 520551
*/
@import "bluePurple.scss";

$veryLightGray: #aaa;
$lightGray: #666;
$mediumGray: #444;
$darkGray: #333;
$veryDarkGray: #111;

body {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
}

#files {
  #files-list-container {
    #navbar {
      height: 40px;
      border-bottom: 1px solid $primary3;
      background-color: $primary1;

      ul {
        color: white;
        line-height: 40px;
      }

      .pull-left {
        float: left;
      }

      .pull-right {
        float: right;
      }
    }
  

    #files-list {
      top: 40px;

      li {
        float: left;
      }
    }
  }

  #draw {
    .swatch {
      border: 1px solid black;
      width: 50px;
      height: 40px;
      margin: auto;
    }

    .overlay {
      .modal{
        opacity: 0;
        transition: .3s opacity;

        &.visible {
          opacity: 1;
        }
      }

      #colorPicker ul {
        width: 100px;

        li {
          float: left;
        }
      }
    }

    #menu, #tools {
      border: 1px solid black;
      background-color: white;

      li {
        padding: 10px;
        text-align: center;
        
        cursor: pointer;
      }
    }

    #menu {
      border-right: none;
      li {
        float: left;
        border-right: 1px solid black;
      }
    }

    #tools {
      border-bottom: none;

      li {
        border-bottom: 1px solid black;
      }
    }
  }
}


@import "computer.scss";
@import "mobile.scss";
@import "tablet.scss";
@import "phone.scss";