/*
  brighter pink: c623c4
  darker: 7d087c
  darker even: 520551
*/
@import "bluePurple.scss";

$veryLightGray: #aaa;
$lightGray: #666;
$mediumGray: #444;
$darkGray: #333;
$veryDarkGray: #111;

body, input {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
}

#files {
  #files-list-container {
    #navbar {
      height: 40px;
      border-bottom: 1px solid $primary3;
      background-color: $primary1;

      ul {
        color: white;
        line-height: 40px;
      }

      .pull-left {
        float: left;
      }

      .pull-right {
        float: right;
      }
    }
  
    #files-list {
      top: 40px;

      li {
        float: left;
      }
    }
  }

  #draw {
    .overlay {
      .modal {
        ul {
          overflow: hidden;
        }
      }
    }

    #menu, #options {
      ul {
        li {
          line-height: 40px;
        }
      }
    }

    #menu, #tools, #options {
      z-index: 1;
      ul {
        background-color: white;
        overflow: hidden;

        li {
          padding: 10px;
          text-align: center;
          cursor: pointer;
        }
      }
    }

    $menuBorder: $veryLightGray;
    
    #menu {
      ul {
        border-bottom: 1px solid $menuBorder;
        height: 40px;

        li {
          float: left;
          border-right: 1px solid $menuBorder;
          line-height: 40px;
          padding: 0 10px;
        }
      }
    }

    #title {
      width: 100%;
      text-align: center;
      line-height: 40px;
      
      #fileName {
        text-align: center;
        border: 0;
        background-color: white;
        padding: 5px 15px;
        border-radius: 10px;

        max-width: 250px;
      }
    }

    #options {
      ul {
        border-bottom: 1px solid $menuBorder;
        height: 40px;

        li {
          float: right;
          border-left: 1px solid $menuBorder;
          padding: 0 10px;
        }
      }
    }

    #tools {
      ul {
        border-right: 1px solid $menuBorder;

        li {
          border-top: 1px solid $menuBorder;
        }
      }
    }
  }
}


@import "computer.scss";
@import "mobile.scss";
@import "tablet.scss";
@import "phone.scss";