/*
  brighter pink: c623c4
  darker: 7d087c
  darker even: 520551
*/
@import "bluePurple.scss";

$extraLightGray: #ccc;
$veryLightGray: #aaa;
$lightGray: #666;
$mediumGray: #444;
$darkGray: #333;
$veryDarkGray: #111;

body, input {
  font-size: 15px;
  font-family: verdana, arial, sans-serif;
  font-weight: 100;
  color: #333;
}

#overall {
  &.blurred {
    @include blur(3px);
  }
}

#login {
  #login-wrapper {
    #info-container {
      text-align: center;

      #login-box-switcher {
        height: 170px;
        margin-bottom: 20px;

        h1 {
          font-size: 25px;
          margin: 0;
        }

        h2 {
          font-size: 18px;
          margin: 0;
          margin-top: 5px;
        }
      }

      #login-basic, #login-file {

        position: absolute;
        @include transition(.5s all);
        left: 0;
        right: 0;
        bottom: 0;

        &.hidden {
          opacity: 0;
        }
      }

      #login-file {
        #login-owner-pic {
          vertical-align: middle;
          border-bottom: 1px solid black;
          border-radius: 16px;
          margin-right: 10px;
          width: 32px;
          height: 32px;
        }
      }

      #loginbutton {
        i {
          font-size: 20px;
        }

        line-height: 50px;
        min-height: 50px;
        padding: 0 60px;
      }
    }

    #explanation-container {
      font-size: 16px;
      margin-top: 30px;
      text-align: center;
      line-height: 25px;
    }
  }
}

#updateBar {
  @include transition(.3s all);
  @include transform(translate(0px, -36px));

  #updateBarContent {
    font-size: 15px;
    line-height: 35px;
    padding: 0 10px;
    background-color: $secondaryB1;
    border: 1px solid $primary3;
    border-top: none;

  }

  &.visible {
    @include transform(translate(0px, 0px));
  }
}

#files {
  #files-list-container {
    background-color: #f5f5f5;

    #navbar {
      height: 40px;
      border-bottom: 1px solid $extraLightGray;

      ul {
        color: $veryLightGray;

        li {
          display: inline;
          padding: 0 10px 0 10px;
          float: left;
          line-height: 40px;

          &#mode {
            @include transition(.5s opacity);
            text-transform: uppercase;
            font-size: 12px;
            opacity: 1;
            font-weight: bold;

            &.hidden {
              opacity: 0;
            }

            &.offline {
              color: $complementary1;
            }
          }
        }
      }

      .pull-left {
        float: left;
      }

      .pull-right {
        float: right;
      }
    }



    #files-list {
      height: calc(100% - 40px);

      li {
        &>div {

          &.create {
            color: #dcdcdc;
            background-color: white;
            border: 1px solid $extraLightGray;
            @include flex-direction(column);

            .icon {
              text-shadow: 0px 0px 1px $mediumGray;
            }

            span {
              font-size: 18px;
              color: #888;
            }
          }

          .thumbnail-info {
            border: 1px solid $extraLightGray;
            position: relative;
            overflow: hidden;

            .thumbnail, .overlay {
              position: absolute;
              width: 100%;
            }

            .thumbnail {
              background-color: white;
              vertical-align: bottom;
            }

            .overlay {
              overflow: hidden;

              .bar {

                position: absolute;
                width: 100%;
                overflow: hidden;

                .file-action {
                  @include display-flex();
                  @include flex-justify-content(center);
                  @include flex-align-items(center);
                }

                .share, .delete, .share .icon, .delete .icon {
                  cursor: pointer !important;
                }
              }
            }


          }

          .content {
            padding: 0 10px;

            &>span {
              line-height: 30px;
              vertical-align: bottom;
            }

            .file-name {
              text-overflow: ellipsis;
              color: #888;
              white-space: nowrap;
              width: 100%;
            }


          }
        }
      }
    }
  }

  #draw {

    #canvas {
      width: 100%;
      height: 100%;
    }

    .overlay {
      .modal {
        ul {
          overflow: hidden;
        }
      }
    }

    #menu, #options {
      ul {
        li {
          line-height: 40px;
        }
      }
    }

    #menu, #tools, #options {
      z-index: 1;
      ul {
        background-color: white;
        overflow: hidden;

        li {
          text-align: center;
          cursor: pointer;
          overflow: hidden;
        }
      }
    }

    #title {
      width: 100%;
      text-align: center;

      #fileName {
        text-align: center;
        border: 0;
        background-color: white;
        padding: 5px 15px;
        @include border-radius(10px);

        max-width: 250px;
      }
    }

    $menuBorder: $veryLightGray;

    #menu {
      ul {
        border-bottom: 1px solid $menuBorder;

        li {
          float: left;
          border-right: 1px solid $menuBorder;
        }
      }
    }

    #options {
      ul {
        border-bottom: 1px solid $menuBorder;
        height: 40px;

        li {
          float: right;
          border-left: 1px solid $menuBorder;
          padding: 0 10px;
        }
      }
    }

    #tools {
      ul {
        border-right: 1px solid $menuBorder;

        li {
          border-top: 1px solid $menuBorder;

          &#undo-tool, &#redo-tool {
            width: 50%;
            float: left;
          }

          &#undo-tool {
            border-right: 1px solid $menuBorder;
          }

          &.active-point, &.active-gesture, &.active-scroll {
            background-color: #eee;
            color: $primary1;
            text-shadow: 1px 1px $mediumGray;
          }

          &.disabled {
            background-color: $extraLightGray;
            color: #bbb;
          }
        }
      }

      .swatch {
        border: 1px solid black;
        width: 100%;
        height: 40px;
      }
    }
  }
}

#modal-overlay {
  background-color: rgba(255,255,255,.8);
  overflow: hidden;

  .modal {
    background-color: #fafafa;
    border: 1px solid $veryLightGray;

    text-align: center;

    .row {
      margin-bottom: 20px;
    }

    .visible-switch {
      @include transition(.3s opacity);
    }

    .buttons {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .title {
      font-size: 20px;
      font-weight: 100;
      padding: 10px;
      background-color: #ececec;
      border-bottom: 1px solid $veryLightGray;
    }
  }

  #share-modal {
    // #share-modal-online, #share-modal-permissions, #share-modal-owner, #share-modal-link {
    //   display: none;
    // }

    // &.online {
    //   #share-modal-offline {
    //     display: none;
    //   }

    //   #share-modal-online {
    //     display: inherit;
    //   }
    // }

    // &.loaded {
    //   #share-modal-loading {
    //     display: none;
    //   }

    //   #share-modal-permissions {
    //     display: inherit;
    //   }
    // }

    // &.owned {
    //   #share-modal-guest {
    //     display: none;
    //   }

    //   #share-modal-owner {
    //     display: inherit;
    //   }
    // }

    // &.shared {
    //   #share-modal-link {
    //     display: inherit;
    //   }
    // }

    #share-modal-link-wrapper {
      background-color: white;
      border-bottom: 1px solid $veryLightGray;
      border-top: 1px solid $veryLightGray;
      padding: 15px 0;
    }

    #share-modal-link-text {
      user-select: text;
      -webkit-user-select: text;
      cursor: text;
      color: inherit;
      text-decoration: none;
    }

    .subtext {
      color: #888;
      font-size: 14px;
      margin-top: 5px;
    }

    #share-modal-link-text {
      word-wrap: break-word;
    }

    #share-modal-close-button {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }

  #loading-modal {
    .loading {
      @include display-flex();
      @include flex-justify-content(center);
      @include flex-align-items(center);
      @include flex-direction(column);

      height: 100%;

      .spinner {
        font-size: 50px;
      }
    }
  }
}

.button {
  display: inline-block;
  border: 1px solid $veryLightGray;
  cursor: pointer;
  padding: 7px 12px;
  min-width: 60px;
  background-color: #fafafa;

  i {
    margin-right: 10px;
    vertical-align: middle;
    font-weight: bold;
    // font-size: 20px;
    // line-height: 25px;
  }

  &.primary {
    background-color: $primary4;
    border-color: $primary2;
    color: white;
  }

  &.alert {
    background-color: #cf0000;
    border-color: darken(#cf0000, 20%);
    color: white;
  }

  &.disabled {
    cursor: default;
    background-color: lighten($primary4, 30%);
  }
}

@import "computer.scss";
@import "mobile.scss";
@import "tablet.scss";
@import "phone.scss";