/*
  brighter pink: c623c4
  darker: 7d087c
  darker even: 520551
*/
@import "bluePurple.scss";

$veryLightGray: #aaa;
$lightGray: #666;
$mediumGray: #444;
$darkGray: #333;
$veryDarkGray: #111;

body, input {
  font-size: 15px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 100;
}

#login {
  #login-container {
    width: 350px;
    text-align: center;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 175px);

    #loginbutton {
      display: inline-block;
      line-height: 50px;
      padding: 0 60px;
      background-color: $primary4;
      border: 1px solid $primary2;
      cursor: pointer;

      i {
        margin-right: 10px;
        vertical-align: middle;
        font-size: 25px;
        line-height: 25px;
      }
    }
  }
}

#updateBar {
  @include transition(.3s, all);
  @include transform("translate(0px, -36px)");

  #updateBarContent {
    font-size: 15px;
    line-height: 35px;
    padding: 0 10px;
    background-color: $secondaryB1;
    border: 1px solid $primary3;
    border-top: none;

  }

  &.visible {
    @include transform("translate(0px, 0px)");
  }
}

#files {
  #files-list-container {
    background-color: #f5f5f5;

    #navbar {
      height: 40px;
      border-bottom: 1px solid #ccc;

      ul {
        color: $veryLightGray;

        li {
          display: inline;
          padding: 0 10px 0 10px;
          float: left;
          line-height: 40px;

          &#mode {
            transition: .5s opacity;
            text-transform: uppercase;
            font-size: 12px;
            opacity: 1;
            font-weight: bold;

            &.hidden {
              opacity: 0;
            }

            &.offline {
              color: $complementary1;
            }
          }
        }
      }

      .pull-left {
        float: left;
      }

      .pull-right {
        float: right;
      }
    }



    #files-list {
      height: calc(100% - 40px);

      li {
        &>div {

          &.create {
            color: #dcdcdc;
            background-color: white;
            border: 1px solid #ccc;
            flex-direction: column;

            .icon {
              text-shadow: 0px 0px 1px $mediumGray;
            }

            span {
              font-size: 18px;
              color: #888;
            }
          }

          .thumbnail {
            background-color: white;
            border: 1px solid #ccc;
            vertical-align: bottom;
          }

          .overlay {
            overflow: hidden;



            &:hover .bar {
              -webkit-transform: translateY(0px);
            }

            .bar {
              -webkit-transform: translateY(40px);
              transition: .1s all;

              position: absolute;
              bottom: 0;
              width: 100%;

              color: #ccc;
              background-color: rgba(100, 100, 100, .7);
              line-height: 30px;
              padding: 0 10px;
              color: white;
              overflow: hidden;

              .share, .delete {
                cursor: pointer;
                line-height: 30px;
              }

              .share {
                float: left;
              }

              .delete {
                float: right;


              }
            }


          }

          .content {
            //background-color: #fafafa;
            //border: 1px solid #ccc;
            //border-top: 0;
            padding: 0 10px;

            &>span {
              line-height: 30px;
              vertical-align: bottom;
            }

            .file-name {
              text-overflow: ellipsis;
              color: #888;
              white-space: nowrap;
              width: 100%;
            }


          }
        }
      }
    }

    $space: 15px;
    $innerHeight: 200px;
    $outerWidth: 300px;

    @include files-list($space, $innerHeight, $outerWidth);
  }

  #draw {
    .overlay {
      .modal {
        ul {
          overflow: hidden;
        }
      }
    }

    #menu, #options {
      ul {
        li {
          line-height: 40px;
        }
      }
    }

    #menu, #tools, #options {
      z-index: 1;
      ul {
        background-color: white;
        overflow: hidden;

        li {
          text-align: center;
          cursor: pointer;
          overflow: hidden;
        }
      }
    }

    #title {
      width: 100%;
      text-align: center;

      #fileName {
        text-align: center;
        border: 0;
        background-color: white;
        padding: 5px 15px;
        @include border-radius(10px);

        max-width: 250px;
      }
    }

    $menuBorder: $veryLightGray;

    #menu {
      ul {
        border-bottom: 1px solid $menuBorder;

        li {
          float: left;
          border-right: 1px solid $menuBorder;
        }
      }
    }

    #options {
      ul {
        border-bottom: 1px solid $menuBorder;
        height: 40px;

        li {
          float: right;
          border-left: 1px solid $menuBorder;
          padding: 0 10px;
        }
      }
    }

    #tools {
      ul {
        border-right: 1px solid $menuBorder;

        li {
          border-top: 1px solid $menuBorder;

          &#undo-tool, &#redo-tool {
            width: 50%;
            float: left;
          }

          &#undo-tool {
            border-right: 1px solid $menuBorder;
          }

          &.active-point, &.active-gesture, &.active-scroll {
            background-color: #eee;
            color: $primary1;
            text-shadow: 1px 1px $mediumGray;
          }

          &.disabled {
            background-color: #ccc;
            color: #bbb;
          }
        }
      }

      .swatch {
        border: 1px solid black;
        width: 100%;
        height: 40px;
      }
    }
  }
}


@import "computer.scss";
@import "mobile.scss";
@import "tablet.scss";
@import "phone.scss";