/*
  brighter pink: c623c4
  darker: 7d087c
  darker even: 520551
*/
@import "bluePurple.scss";
//@import "purpleOrange.scss";

$veryLightGray: #aaa;
$lightGray: #666;
$mediumGray: #444;
$darkGray: #333;
$veryDarkGray: #111;

body {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
}

#files {
  #files-list {
    clear: both;
    overflow: hidden;

    li {
      float: left;
      border: 1px solid black;
      width: calc(25% - 20px);
      margin: 10px;
      

      &:nth-child(1), &:nth-child(2) {
        width: calc(50% - 20px);

        .thumbnail-wrapper {
          height: 200px;
        }
      }

      .thumbnail-wrapper {
        //max-height: 150px;
        overflow: hidden;
        height: 100px;

        .thumbnail {
          vertical-align: bottom;
        }
      }

      .file-details {
        border-top: 1px solid black;
        text-align: center;
      }
    }
  }

  #draw {
    #menu, #tools {
      border: 1px solid black;
      background-color: white;

      li {
        padding: 10px;
        text-align: center;
        
        cursor: pointer;
      }
    }

    #menu {
      border-right: none;
      li {
        float: left;
        border-right: 1px solid black;
      }
    }

    #tools {
      border-bottom: none;

      li {
        border-bottom: 1px solid black;
      }
    }
  }
}


.computer {
  #draw {
    #tools {
      li[data-action="undo"], li[data-action="redo"] {
        display: none !important;
      }
    }
  }
}

.tablet, .phone {
  #draw {
    #tools {
      li[data-tool="zoom"] {
        display: none;
      }
      li[data-tool="pan"] {
        padding: 30px !important;
      }
    }
  }
}