@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-su82gi');
	src:url('../fonts/icomoon.eot?#iefix-su82gi') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-su82gi') format('woff'),
		url('../fonts/icomoon.ttf?-su82gi') format('truetype'),
		url('../fonts/icomoon.svg?-su82gi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e61d";
}
.icon-move:before {
	content: "\e619";
}
.icon-plus2:before {
	content: "\e61c";
}
.icon-group:before {
	content: "\e61e";
}
.icon-eraser:before {
	content: "\e61a";
}
.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-image:before {
	content: "\e602";
}
// .icon-screen:before {
// 	content: "\e605";
// }
.icon-undo:before {
	content: "\e615";
}
.icon-redo:before {
	content: "\e616";
}
.icon-spinner:before {
	content: "\e606";

	@include animation(spin .7s linear infinite);
}

@include keyframes("spin") {
	from {
    @include transform("rotate(0deg)");
  }

	to {
    @include transform("rotate(360deg)");
  }
}

.icon-search:before {
	content: "\e612";
}
.icon-zoom-in:before {
	content: "\e611";
}
.icon-close:before {
	content: "\e60e";
}
.icon-plus:before {
	content: "\e61b";
}
.icon-google:before {
	content: "\e60f";
}
// .icon-google-drive:before {
// 	content: "\e610";
// }
.icon-apple:before {
	content: "\e603";
}
.icon-android:before {
	content: "\e604";
}
.icon-windows8:before {
	content: "\e607";
}
.icon-chrome:before {
	content: "\e608";
}
