@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($value) {
  -webkit-transition: #{$value};
     -moz-transition: #{$value};
       -o-transition: #{$value};
          transition: #{$value};
}

@mixin transform($params) {
  -webkit-transform: #{$params};
     -moz-transform: #{$params};
       -o-transform: #{$params};
          transform: #{$params};
}

@mixin box-sizing($type) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
       -o-box-sizing: $type;
          box-sizing: $type;
}

@mixin flex($value) {
  -webkit-box-flex: $value;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $value;         /* OLD - Firefox 19- */
  // width: 20%;               /* For old syntax, otherwise collapses. */
  -webkit-flex: $value;          /* Chrome */
  -ms-flex: $value;              /* IE 10 */
  flex: $value;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin display-flex() {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value;
     -moz-flex-wrap: $value;
      -ms-flex-wrap: $value;
          flex-wrap: $value;
}

@mixin flex-basis($value) {
  -webkit-flex-basis: $value;
     -moz-flex-basis: $value;
      -ms-flex-basis: $value;
          flex-basis: $value;
}

@mixin flex-align-items($value) {
  -webkit-align-items: $value;
     -moz-align-items: $value;
      -ms-align-items: $value;
          align-items: $value;
}

@mixin flex-align-content($value) {
  -webkit-align-content: $value;
     -moz-align-content: $value;
      -ms-align-content: $value;
          align-content: $value;
}

@mixin flex-justify-content($value) {
  -webkit-justify-content: $value;
     -moz-justify-content: $value;
      -ms-justify-content: $value;
          justify-content: $value;
}

@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
     -moz-flex-direction: $value;
      -ms-flex-direction: $value;
          flex-direction: $value;
}

@mixin flex-shrink($value) {
  -webkit-flex-shrink: $value;
     -moz-flex-shrink: $value;
      -ms-flex-shrink: $value;
          flex-shrink: $value;
}

@mixin blur($value) {
  -webkit-filter: blur($value);
     -moz-filter: blur($value);
      -ms-filter: blur($value);
          filter: blur($value);

}

@mixin animation($value) {
  -webkit-animation: $value;
     -moz-animation: $value;
      -ms-animation: $value;
          animation: $value;

}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}