*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

  user-select: none;
  -webkit-user-select: none;
}

#overall, .page, .pane {
  width: 100%;
  height: 100%;
}

.page, .pane {
  position: absolute;
  display: none;
}

.pane-slider {
  .pane-wrapper {
    overflow: visible;
    width: inherit;
    transition: all .4s;
  }

  .pane {
    display: block !important;
  }
}

#draw {
  position: absolute;

  canvas {
    vertical-align: bottom;
  }

  #tools {
    position: absolute;
    bottom: 10px;
    left: 10px;
    
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}

@import "icomoon.scss";
@import "design.scss";