*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

  user-select: none;
  -webkit-user-select: none;
}

#overall, #main-content, #panes, .page, .pane {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.page, .pane {
  display: none;
}

.pane-slider {
  overflow: hidden;

  .pane-wrapper {
    width: 200%;
    overflow: visible;
    display: block;

    &>.pane {
      width: 50%;
      display: block !important;
    }
  }
}

#files {
  #files-list-container {
    
    #navbar {
      height: 40px;
      border-bottom: 1px solid black;
      background-color: #333;
    }

    #files-list {
      overflow-y: scroll;


      list-style-type: none;
      margin: 0;
      padding: 0;

      position: absolute;
      top: 40px;
      bottom: 0;
    }
  }

  #draw {
    .swatch {
        border: 1px solid black;
        width: 50px;
        height: 40px;
        margin: auto;
      }

    .overlay {
      z-index: 1000;

      .modal{
        margin: auto;
        position: absolute;
        opacity: 0;
        transition: .3s opacity;

        &.visible {
          opacity: 1;
        }
      }

      #colorPicker ul {
        width: 100px;

        li {
          float: left;
        }
      }
    }

    canvas {
      vertical-align: bottom;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    #menu {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    #tools {
      position: absolute;
      bottom: 10px;
      left: 10px;

      
    }
  }
}

.ani4 {
  transition: all .4s;
}

@import "icomoon.scss";
@import "design.scss";