*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  cursor: default;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

  user-select: none;
  -webkit-user-select: none;
}

#overall, #main-content, #panes, .page, .pane {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.page, .pane {
  display: none;
}

.pane-slider {
  overflow: hidden;

  .pane-wrapper {
    width: 200%;
    overflow: visible;
    display: block;

    &>.pane {
      width: 50%;
      display: block !important;
    }
  }
}

#files {
  #files-list-container {
    #navbar {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-block;

        li {
          display: inline-block;
        }
      }
    }

    #files-list {
      overflow-y: scroll;
      list-style-type: none;
      margin: 0;
      padding: 0;

      position: absolute;
      top: 0;      
      bottom: 0;

      li {
        .thumbnail-wrapper {
          overflow: hidden;

          .thumbnail {
            vertical-align: bottom;
          }
        }
      }
    }
  }

  #draw {
    

    .overlay {
      z-index: 1000;

      .modal{
        margin: auto;
        position: absolute;
      }
    }

    canvas {
      vertical-align: bottom;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    #menu {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    #options {
      position: absolute;
      top: 0px;
      right: 0px;
    }

    #tools {
      position: absolute;
      bottom: 0px;
      left: 0px;

      
    }
  }
}

.ani4 {
  transition: all .4s;
}

@import "design.scss";
@import "icomoon.scss";
