@import "mixins.scss";

*, *:before, *:after {
  @include box-sizing(border-box);
}

// * {
//   cursor: default;
// }

body, html, canvas {
  user-select: none;
  -webkit-user-select: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  cursor: default;
}

body {
  position: relative;
}

#overall, #main-content, #panes, .page, .pane, #draw-overlay, #modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.page, .pane {
  display: none;
}

.pane-slider {
  overflow: hidden;

  .pane-wrapper {
    width: 200%;
    overflow: visible;
    display: block;

    &>.pane {
      width: 50%;
      display: block !important;
    }
  }
}

#login {
  #login-wrapper{
    width: 100%;
    height: 100%;
    @include display-flex();
    @include flex-justify-content(center);
    @include flex-align-items(center);
    @include flex-direction(column);

    #info-container {
      @include display-flex();
      @include flex-justify-content(center);
      @include flex-align-items(center);
      @include flex-direction(column);

      width: 100%;
      position: relative;

      #login-box-switcher {
        width: 100%;
        position: relative;
      }

      #login-basic, #login-file {
        position: absolute;
      }
    }

  }
}

#updateBar {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  width: 400px;
  left: calc(50% - 200px);
  z-index: 1000;

  #updateBarContent {
    display: inline-block;
    cursor: pointer;
  }
}

#files {
  #files-list-container {
    #navbar {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-block;

        li {
          display: inline-block;
        }
      }
    }

    #files-list {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      list-style-type: none;
      margin: 0 auto;
      padding: 0;


      @include display-flex();
      @include flex-wrap(wrap);
      @include flex-justify-content(center);
      @include flex-align-content(flex-start);

      li {
        overflow: hidden;

        &>div {
          position: relative;
          overflow: hidden;
          height: 100%;
          //@include display-flex();
          //@include flex-align-items(center);

          &.create {
            height: 100%;
            @include display-flex();
            @include flex-align-items(center);
            @include flex-justify-content(center);
          }



          &.create {
            width: 100%;
          }

          .content {
            .file-name {
              display: inline-block;
              overflow: hidden;
            }
          }
        }
      }
    }
  }

  #draw {
    .overlay {
      z-index: 1000;
      visibility: hidden;

      .modal{
        margin: auto;
        position: absolute;
      }
    }

    canvas {
      vertical-align: bottom;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    #menu, #title, #options, #tools {
      position: absolute;
    }

    #menu, #title, #options {
      top: 0px;
    }

    #menu {
      left: 0px;
    }

    #options {
      margin: auto;
    }

    #options {
      right: 0px;
    }

    #tools {
      bottom: 0px;
      left: 0px;
    }
  }
}

#modal-overlay {
  @include display-flex();
  @include flex-justify-content(center);
  @include flex-align-items(center);

  &.hidden {
    display: none;
  }

  .modal {
    display: none;
    position: relative;
  }

  .visible-switch {
    &.invisible {
      opacity: 0;
    }

    &.hidden {
      display: none;
    }
  }
}

.ani4 {
  @include transition(.4s, all);
}

@import "design.scss";
@import "icomoon.scss";
